In [1]:
import pandas as pd
df = pd.read_csv('heart_disease_data.csv')

In [2]:
df.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
231,57,1,0,165,289,1,0,124,0,1.0,1,3,3,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
169,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [24]:
x = df.drop(columns='target',axis=1)
y = df[['target']]

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=5,stratify=y)

In [31]:
lr = LogisticRegression()

In [32]:
lr.fit(x_train,y_train)

C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
pred_vals = lr.predict(x_test)

In [37]:
lr.score(x_test,y_test)

0.8524590163934426

In [39]:
print(accuracy_score(pred_vals,y_test))

0.8524590163934426